/* reset */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer{margin:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
a{text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
body{padding-top:42px}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}
ul,ol,li{margin: 0;padding: 0;list-style: none;}
.browser-tips{background: yellow;text-align: center;;line-height: 45px;color: red;font-size: 20px;}
/*common*/
.fl{float: left;}
.fr{float: right;}
.text-indent{text-indent: -9999px;}
.text-center{text-align: center;}
.dis-in-block{display: inline-block;}
.dis-block{display: block;}
.mg-auto{margin: 0 auto;}
.no-mg{margin: 0!important;}
.no-pd{padding: 0!important;}
.hidden{overflow: hidden;}
@font-face{font-family: 'font';src : url('font.ttf');}
.font{font-family: 'font';}
.sprite{background: url(../ossweb-img/sprite.png) no-repeat 0 0 / 1200px 1500px;}
/*color*/
$main-color:red;
$less-colre:yellow;
$curent-color:green;
$active-color:grey;
$other-color:blue;
/*common*/
/*afooter*/
#afooter{text-align: center;background:#000;font-size: 12px;color: #c0c0c0;padding: 30px 0;}
#afooter a{color: #c0c0c0;}
